* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f0f2f5;
    display: flex;
}


.sidebar {
    width: 250px;
    height: 100vh;
    background: #fff;
    padding: 20px;
    position: fixed;
    border-right: 1px solid #dddddd;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #1877f2;
    margin-bottom: 30px;
    text-align: center ;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile-avatar{
    width:120px;
    height:120px;
    background:#1877f2;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:48px;
    font-weight:bold;
    margin:0 auto 20px auto;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

h3{
    color:black;
    margin-bottom:5px;
}

.menu a {
    display: block;
    padding: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background: #1877f2;
    color: white;
}


.main {
    margin-left: 270px;
    padding: 20px;
    width: 100%;
}


.topbar {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.filter-btn{
    background: #1877f2;
    color: white;
    border: none;
    margin-left: 120px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.create-btn {
    background: #1877f2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}


.feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.post-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-title {
    margin: 10px 0;
}


.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.details-btn {
    background: #e4e6eb;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.request-btn {
    background: #1877f2;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}